<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="connstr" value="server=192.168.10.245;Database=stops;port=3308;uid=root;pwd=1Qaz2wsX;character set = utf8" />
    <add key="PlightBlue" value="0:50" />
    <add key="PlightGreen" value="0:00" />
    <add key="PGreen" value="1:00" />
    <add key="PYellow" value="1:10" />
    <add key="POrange" value="1:20" />
    <add key="PRed" value="1:30" />
    <add key="PGray" value="1:40" />
    
    <add key="RlightBlue" value="0:00" />
    <add key="RlightGreen" value="0:00" />
    <add key="RGreen" value="1:10" />
    <add key="RYellow" value="1:20" />
    <add key="ROrange" value="1:30" />
    <add key="RRed" value="1:40" />
    <add key="RGray" value="1:50" />
    

    <add key="RBlightBlue" value="0:00" />
    <add key="RBlightGreen" value="1:00" />
    <add key="RBGreen" value="1:10" />
    <add key="RBYellow" value="1:20" />
    <add key="RBOrange" value="0:00" />
    <add key="RBRed" value="1:30" />
    <add key="RBGray" value="1:30" />

    <add key="YlightBlue" value="0:50" />
    <add key="YlightGreen" value="0:00" />
    <add key="YGreen" value="1:00" />
    <add key="YYellow" value="1:10" />
    <add key="YOrange" value="1:20" />
    <add key="YRed" value="1:30" />
    <add key="YGray" value="1:30" />

    <add key="MlightBlue" value="0:00" />
    <add key="MlightGreen" value="0:45" />
    <add key="MGreen" value="1:00" />
    <add key="MYellow" value="1:10" />
    <add key="MOrange" value="1:20" />
    <add key="MRed" value="1:30" />
    <add key="MGray" value="0:00" />
    
    <add key="YTaway" value="0:30" />
    <add key="RBTaway" value="0:30" />
    <add key="PTaway" value="0:30" />
    <add key="FormTaway" value="0:30" />
    <add key="BibTaway" value="0:30" />
    <add key="SibTaway" value="0:30" />
    <add key="KremTaway" value="0:30" />
    <add key="MamasTaway" value="0:30" />

    <add key="nn" value="3" />
    <add key="ta_nn" value="0" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>